Protege-2000/sav/IW-DCI.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT IW-DCI (SystemClasses*, STANDARD-CLASS*, SLOT*, Confuse_Enemy*, Counter_PSYOPS*, Deceive_Intruder*, Delay_Effects*, Denial_of_Service*, Deny_Access*, Disrupt_Attack*, Exec_DCI_Mission*, Expert*, Exploit_Intercepts*, Inhibit_Intrusion*, Physical_Attack*, Protect_Networks*, Protect_Software*, Psychological_Ops*, PSYOPS*, Secure_Site*, Site*, Software_Bugs*, SYSTEM-CLASS*, System_Intrusion*, PAL-CONSTRAINT*)>
<!ELEMENT SystemClasses (#PCDATA)>
<!ATTLIST SystemClasses
	id ID #IMPLIED
>
<!ELEMENT NAME (#PCDATA)>
<!ATTLIST NAME
	id ID #IMPLIED
>
<!ELEMENT ROLE (#PCDATA)>
<!ATTLIST ROLE
	id ID #IMPLIED
>
<!ELEMENT DOCUMENTATION (#PCDATA)>
<!ATTLIST DOCUMENTATION
	id ID #IMPLIED
>
<!ELEMENT CONSTRAINTS EMPTY>
<!ATTLIST CONSTRAINTS
	refid CDATA #IMPLIED
>
<!ELEMENT Instances (#PCDATA)>
<!ATTLIST Instances
	id ID #IMPLIED
>
<!ATTLIST Instances
	refid IDREFS #IMPLIED
>
<!ELEMENT Subclasses (#PCDATA)>
<!ATTLIST Subclasses
	id ID #IMPLIED
>
<!ATTLIST Subclasses
	refid IDREFS #IMPLIED
>
<!ELEMENT SlotValues (#PCDATA)>
<!ATTLIST SlotValues
	id ID #IMPLIED
>
<!ELEMENT SlotDefaultValue (#PCDATA)>
<!ATTLIST SlotDefaultValue
	id ID #IMPLIED
>
<!ELEMENT SlotType (#PCDATA)>
<!ATTLIST SlotType
	id ID #IMPLIED
>
<!ELEMENT SlotMinCard (#PCDATA)>
<!ATTLIST SlotMinCard
	id ID #IMPLIED
>
<!ELEMENT SlotMaxCard (#PCDATA)>
<!ATTLIST SlotMaxCard
	id ID #IMPLIED
>
<!ELEMENT SlotAllowedClass (#PCDATA)>
<!ATTLIST SlotAllowedClass
	id ID #IMPLIED
>
<!ELEMENT SlotMinimum (#PCDATA)>
<!ATTLIST SlotMinimum
	id ID #IMPLIED
>
<!ELEMENT SlotMaximum (#PCDATA)>
<!ATTLIST SlotMaximum
	id ID #IMPLIED
>
<!ELEMENT SlotDocumentation (#PCDATA)>
<!ATTLIST SlotDocumentation
	id ID #IMPLIED
>
<!ELEMENT SlotInverseSlot (#PCDATA)>
<!ATTLIST SlotInverseSlot
	id ID #IMPLIED
>
<!ELEMENT SlotConstraints (#PCDATA)>
<!ATTLIST SlotConstraints
	id ID #IMPLIED
>
<!ELEMENT SlotAllowedParents (#PCDATA)>
<!ATTLIST SlotAllowedParents
	id ID #IMPLIED
>
<!ELEMENT SlotSubslots (#PCDATA)>
<!ATTLIST SlotSubslots
	id ID #IMPLIED
>
<!ELEMENT TemplateSlots (#PCDATA)>
<!ATTLIST TemplateSlots
	id IDREFS #IMPLIED
>
<!ELEMENT SLOT (SlotType?, SlotAllowedClass*, SlotConstraints*, SlotDefaultValue*, SlotDocumentation*, SlotInverseSlot*, SlotMaxCard*, SlotMaximum?, SlotMinCard*, SlotMinimum?, SlotSubslots*, SlotValues*, SlotAllowedParents*)>
<!ATTLIST SLOT
	id ID #IMPLIED
>
<!ELEMENT OverriddenSLOT (SlotType?, SlotAllowedClass*, SlotConstraints*, SlotDefaultValue*, SlotDocumentation*, SlotInverseSlot*, SlotMaxCard*, SlotMaximum?, SlotMinCard*, SlotMinimum?, SlotSubslots*, SlotValues*, SlotAllowedParents*)>
<!ATTLIST OverriddenSLOT
	id IDREFS #IMPLIED
>
<!ELEMENT STANDARD-CLASS (CONSTRAINTS*, DOCUMENTATION*, NAME*, ROLE*, TemplateSlots*, OverriddenSLOT*)>
<!ATTLIST STANDARD-CLASS
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Confuse_Enemy (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Confuse_Enemy
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Counter_PSYOPS (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Counter_PSYOPS
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Deceive_Intruder (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Deceive_Intruder
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Delay_Effects (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Delay_Effects
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Denial_of_Service (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Denial_of_Service
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Deny_Access (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Deny_Access
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Disrupt_Attack (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Disrupt_Attack
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Exec_DCI_Mission (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Exec_DCI_Mission
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Expert (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Expert
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Exploit_Intercepts (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Exploit_Intercepts
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Inhibit_Intrusion (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Inhibit_Intrusion
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Physical_Attack (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Physical_Attack
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Protect_Networks (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Protect_Networks
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Protect_Software (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Protect_Software
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Psychological_Ops (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Psychological_Ops
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT PSYOPS (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST PSYOPS
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Secure_Site (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Secure_Site
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Site (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Site
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT Software_Bugs (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST Software_Bugs
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT SYSTEM-CLASS (#PCDATA)>
<!ATTLIST SYSTEM-CLASS
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT System_Intrusion (ALLY-AFFIL?, ALLY-DESC?, ALLY-NAME?, ALLY-ORG?, BELIEF, DISBELIEF, ENEMY-AFFIL?, ENEMY-DESC?, ENEMY-NAME?, ENEMY-ORG?, HOW-ACTION?, HOW-ADJECT?, HOW-CASUAL?, HOW-COST?, HOW-DESC1?, HOW-DESC2?, HOW-DESC3?, HOW-INJURY?, INFO-ID?, MISSION, PARTY-AFFIL?, PARTY-DESC?, PARTY-NAME?, PARTY-ORG?, PREPARED?, PREPDATE?, REPORT-AFFIL?, REPORT-DESC?, REPORT-NAME?, REPORT-ORG?, SOURCE, WHAT-ACTION?, WHAT-DESC?, WHAT-OBJECT?, WHEN-DURATION?, WHEN-END?, WHEN-START?, WHEN-TFRAME?, WHERE-ALT?, WHERE-CITY?, WHERE-LAT?, WHERE-LOCALE?, WHERE-LON?, WHERE-NATION?, WHERE-REGION?, WHERE-STRUCT?, WHY-OPERATIONAL?, WHY-STRATEGIC?, WHY-TACTICAL?, WHY-TASK?)>
<!ATTLIST System_Intrusion
	id ID #IMPLIED
	superclass_id IDREFS #IMPLIED
>
<!ELEMENT ALLY-AFFIL (#PCDATA)>
<!ATTLIST ALLY-AFFIL
	id ID #IMPLIED
>
<!ELEMENT ALLY-DESC (#PCDATA)>
<!ATTLIST ALLY-DESC
	id ID #IMPLIED
>
<!ELEMENT ALLY-NAME (#PCDATA)>
<!ATTLIST ALLY-NAME
	id ID #IMPLIED
>
<!ELEMENT ALLY-ORG (#PCDATA)>
<!ATTLIST ALLY-ORG
	id ID #IMPLIED
>
<!ELEMENT BELIEF (#PCDATA)>
<!ATTLIST BELIEF
	id ID #IMPLIED
>
<!ELEMENT DISBELIEF (#PCDATA)>
<!ATTLIST DISBELIEF
	id ID #IMPLIED
>
<!ELEMENT ENEMY-AFFIL (#PCDATA)>
<!ATTLIST ENEMY-AFFIL
	id ID #IMPLIED
>
<!ELEMENT ENEMY-DESC (#PCDATA)>
<!ATTLIST ENEMY-DESC
	id ID #IMPLIED
>
<!ELEMENT ENEMY-NAME (#PCDATA)>
<!ATTLIST ENEMY-NAME
	id ID #IMPLIED
>
<!ELEMENT ENEMY-ORG (#PCDATA)>
<!ATTLIST ENEMY-ORG
	id ID #IMPLIED
>
<!ELEMENT HOW-ACTION (#PCDATA)>
<!ATTLIST HOW-ACTION
	id ID #IMPLIED
>
<!ELEMENT HOW-ADJECT (#PCDATA)>
<!ATTLIST HOW-ADJECT
	id ID #IMPLIED
>
<!ELEMENT HOW-CASUAL (#PCDATA)>
<!ATTLIST HOW-CASUAL
	id ID #IMPLIED
>
<!ELEMENT HOW-COST (#PCDATA)>
<!ATTLIST HOW-COST
	id ID #IMPLIED
>
<!ELEMENT HOW-DESC1 (#PCDATA)>
<!ATTLIST HOW-DESC1
	id ID #IMPLIED
>
<!ELEMENT HOW-DESC2 (#PCDATA)>
<!ATTLIST HOW-DESC2
	id ID #IMPLIED
>
<!ELEMENT HOW-DESC3 (#PCDATA)>
<!ATTLIST HOW-DESC3
	id ID #IMPLIED
>
<!ELEMENT HOW-INJURY (#PCDATA)>
<!ATTLIST HOW-INJURY
	id ID #IMPLIED
>
<!ELEMENT INFO-ID (#PCDATA)>
<!ATTLIST INFO-ID
	id ID #IMPLIED
>
<!ELEMENT MISSION (#PCDATA)>
<!ATTLIST MISSION
	id ID #IMPLIED
>
<!ELEMENT PARTY-AFFIL (#PCDATA)>
<!ATTLIST PARTY-AFFIL
	id ID #IMPLIED
>
<!ELEMENT PARTY-DESC (#PCDATA)>
<!ATTLIST PARTY-DESC
	id ID #IMPLIED
>
<!ELEMENT PARTY-NAME (#PCDATA)>
<!ATTLIST PARTY-NAME
	id ID #IMPLIED
>
<!ELEMENT PARTY-ORG (#PCDATA)>
<!ATTLIST PARTY-ORG
	id ID #IMPLIED
>
<!ELEMENT PREPARED (#PCDATA)>
<!ATTLIST PREPARED
	id ID #IMPLIED
>
<!ELEMENT PREPDATE (#PCDATA)>
<!ATTLIST PREPDATE
	id ID #IMPLIED
>
<!ELEMENT REPORT-AFFIL (#PCDATA)>
<!ATTLIST REPORT-AFFIL
	id ID #IMPLIED
>
<!ELEMENT REPORT-DESC (#PCDATA)>
<!ATTLIST REPORT-DESC
	id ID #IMPLIED
>
<!ELEMENT REPORT-NAME (#PCDATA)>
<!ATTLIST REPORT-NAME
	id ID #IMPLIED
>
<!ELEMENT REPORT-ORG (#PCDATA)>
<!ATTLIST REPORT-ORG
	id ID #IMPLIED
>
<!ELEMENT SOURCE (#PCDATA)>
<!ATTLIST SOURCE
	id ID #IMPLIED
>
<!ELEMENT WHAT-ACTION (#PCDATA)>
<!ATTLIST WHAT-ACTION
	id ID #IMPLIED
>
<!ELEMENT WHAT-DESC (#PCDATA)>
<!ATTLIST WHAT-DESC
	id ID #IMPLIED
>
<!ELEMENT WHAT-OBJECT (#PCDATA)>
<!ATTLIST WHAT-OBJECT
	id ID #IMPLIED
>
<!ELEMENT WHEN-DURATION (#PCDATA)>
<!ATTLIST WHEN-DURATION
	id ID #IMPLIED
>
<!ELEMENT WHEN-END (#PCDATA)>
<!ATTLIST WHEN-END
	id ID #IMPLIED
>
<!ELEMENT WHEN-START (#PCDATA)>
<!ATTLIST WHEN-START
	id ID #IMPLIED
>
<!ELEMENT WHEN-TFRAME (#PCDATA)>
<!ATTLIST WHEN-TFRAME
	id ID #IMPLIED
>
<!ELEMENT WHERE-ALT (#PCDATA)>
<!ATTLIST WHERE-ALT
	id ID #IMPLIED
>
<!ELEMENT WHERE-CITY (#PCDATA)>
<!ATTLIST WHERE-CITY
	id ID #IMPLIED
>
<!ELEMENT WHERE-LAT (#PCDATA)>
<!ATTLIST WHERE-LAT
	id ID #IMPLIED
>
<!ELEMENT WHERE-LOCALE (#PCDATA)>
<!ATTLIST WHERE-LOCALE
	id ID #IMPLIED
>
<!ELEMENT WHERE-LON (#PCDATA)>
<!ATTLIST WHERE-LON
	id ID #IMPLIED
>
<!ELEMENT WHERE-NATION (#PCDATA)>
<!ATTLIST WHERE-NATION
	id ID #IMPLIED
>
<!ELEMENT WHERE-REGION (#PCDATA)>
<!ATTLIST WHERE-REGION
	id ID #IMPLIED
>
<!ELEMENT WHERE-STRUCT (#PCDATA)>
<!ATTLIST WHERE-STRUCT
	id ID #IMPLIED
>
<!ELEMENT WHY-OPERATIONAL (#PCDATA)>
<!ATTLIST WHY-OPERATIONAL
	id ID #IMPLIED
>
<!ELEMENT WHY-STRATEGIC (#PCDATA)>
<!ATTLIST WHY-STRATEGIC
	id ID #IMPLIED
>
<!ELEMENT WHY-TACTICAL (#PCDATA)>
<!ATTLIST WHY-TACTICAL
	id ID #IMPLIED
>
<!ELEMENT WHY-TASK (#PCDATA)>
<!ATTLIST WHY-TASK
	id ID #IMPLIED
>
